html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

p {
    margin: 0.5em 0 0 0;
    padding: 0;
}

a:link, a:visited {
    color: #1f778d;
}

a:hover, a:active {
    color: #76cbe0;
}

body > header {
    padding: 1em;
    clear: both;
    background-color: #2a83f1;
    color: white;
    text-align: center;
}

body > header > h1 {
    margin: 0;
}

body > section {
    margin: 0.5em 20%;
    padding: 1em;
    overflow: hidden;
    background-color: white;
    color: black;
}

body > footer {
    padding: 0.5em;
    clear: both;
    background-color: #2a9fbc;
    color: #e5e5e5;
    font-size: 0.8em;
    text-align: center;
}

body > footer > p {
    margin: 0;
}

.product-summary {
    margin: 0.5em 0;
    padding: 0.5em 0;
    clear: both;
}

.product-summary > img {
    float: left;
    padding-right: 1em;
}

.product-details > img {
    float: left;
    padding-right: 1em;
}

td.billing-address{

}

td.billing-address-visible{
    visibility:unset;
    border: 1px solid;
}

td.billing-address-invisible{
   display:none;
}
billing-address-mouse-enabled{
}

billing-address-mouse-disabled{
}
input#j_idt19\:firstName {
    margin-left: 7.9em;
   margin-bottom: 0.2em;
}
input#j_idt19\:lastName {
    margin-left: 8em;
    margin-bottom: 0.2em;
}
input#j_idt19\:streetAddress {
    margin-left: 0.85em;
    margin-bottom: 0.2em;
}
input#j_idt19\:country {
    margin-left: 9.4em;
    margin-bottom: 0.2em;
}
input#j_idt19\:zipCode {
    margin-left: 8.65em;
    margin-bottom: 0.2em;
}
input[type=text] {
    background-color: #3CBC8D;
    color: black;
    transition: width 0.8s ease-in-out;
}

 input[type=text]:focus {
   width: 40%;
 }
 input#j_idt19\:zipCode:focus {
    width: 20%;
  }