td.billing-address{

}

td.billing-address-visible{
    visibility:unset;
    border: 1px solid;
}

td.billing-address-invisible{
   display:none;
}
billing-address-mouse-enabled{
}

billing-address-mouse-disabled{
}
input#j_idt20\:firstName {
    margin-left: 7.95em;
   margin-bottom: 0.2em;
}
input#j_idt20\:lastName {
    margin-left: 8em;
    margin-bottom: 0.2em;
}
input#j_idt20\:streetAddress {
    margin-left: 0.85em;
    margin-bottom: 0.2em;
}
input#j_idt20\:country {
    margin-left: 9.4em;
    margin-bottom: 0.2em;
}
input#j_idt20\:zipCode {
    margin-left: 8.65em;
    margin-bottom: 0.2em;
}
input#j_idt20\:city {
    margin-left: 11.51em;
    margin-bottom: 0.2em;
}
input[type=text],input[type=password] {
    background-color: #2a83f1;
    color: white;
    transition: width 0.8s ease-in-out;
}

 input[type=text]:focus {
   width: 50%;
 }
 input#j_idt20\:zipCode:focus {
    width: 20%;
  }